<div class="game-board">
  @for (card of cards(); track card.id) {
    <div 
      class="card" 
      (click)="flipCard({ id: card.id, value: card.value })"
      [class.flipped]="card.isFlipped || card.isMatched"
    >
      <div class="card-inner">
        <div class="card-front"></div>
        <div class="card-back">{{ card.value }}</div>
      </div>
    </div>
  }
</div>

<app-win-condition class="win-container" [totalPairs]="totalPairs" [matchedPairs]="matchedPairs"></app-win-condition>
<div class="restart-container">
  <app-restart-button (restart)="initializeGame()" class="restart-button"></app-restart-button>
</div>
<app-move-counter [moves]="moveCount"></app-move-counter>